.vscode/c_cpp_properties.json
build/.ninja_deps
build/.ninja_log
build/libSia.a
build/Sia_Library
build/.cmake/api/v1/reply/index-2023-12-18T22-20-15-0412.json
build/.cmake/api/v1/reply/index-2023-12-18T22-39-31-0070.json
build/CMakeFiles/Sia.dir/Sia/Sia_input_layer.cpp.o
build/CMakeFiles/Sia.dir/Sia/Sia_network.cpp.o
build/CMakeFiles/Sia_Library.dir/src/main.cpp.o
CMakeLists.txt
main
build/.ninja_deps
build/.ninja_log
build/libSia.a
build/Sia_Library
build/.cmake/api/v1/reply/index-2023-12-18T22-20-15-0412.json
build/CMakeFiles/Sia.dir/Sia/Sia_input_layer.cpp.o
build/CMakeFiles/Sia.dir/Sia/Sia_network.cpp.o
build/CMakeFiles/Sia_Library.dir/src/main.cpp.o
build/.ninja_deps
build/.ninja_log
build/libSia.a
build/Sia_Library
build/CMakeFiles/Sia.dir/Sia/Sia_input_layer.cpp.o
build/CMakeFiles/Sia.dir/Sia/Sia_network.cpp.o
build/CMakeFiles/Sia_Library.dir/src/main.cpp.o
